main {
  height: 20px;
  margin-right: 400px;
  margin-top: 100px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin-left: 50px;
}  
  
.comment {
  background-color: rgb(255, 255, 255);
  width: 600px;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  align-items: baseline;

}